.navigation{
    height: 100px;
    width: 100%;
    display: flex;
    background-color:#113E21;
    align-items: center;
    justify-content:space-between;
    margin-top: 0px;
    margin-right: 10px;
    position: sticky;
}
.navigation img{
    border-radius: 110px;
    align-self: left;
    height:50px;
    width:50px;
    margin-left: 10px;
}
.navigation img:hover{
    border-radius: 110px;
    align-self: left;
    height:70px;
    width:70px;
    border-radius: 10px;
    cursor:pointer;
}

.navigation ul{
    list-style: none;
    display:flex;
    align-self: right;
}
ul li{
    margin: 20px;
    font-size: 25px;
    margin-right: 10px;
}
a{
    text-decoration: none;
    font-family:'Times New Roman', Times, serif;
    color: aliceblue;
}
a:hover{
    background-color:#B38B59;
    color:aliceblue;
    font-size: 28px;
    text-shadow: 1px 2px grey;
    transform: skew(10);
}
.banner{
    margin-top: 10px;
    height: 100vh;
    width: 100%;
    background-color:#FDE4C3;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5vh;
    margin-bottom:5px;
}
.section1{
    height:200px;
    background-color:cornsilk;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
}
.sec-01{
   font-size: 30px;
   padding: 20px;
   background-color:cornsilk;
   margin-bottom: 0px;
   margin-top: 5px;
   text-align: center;
}
.sec-02{
    font-size: 30px;
    padding: 20px;
    margin-bottom: 0px;
    margin-top: 5px;
    text-align: center;
 }
.section2{
    display: flex;
}
main{
    background-color:#2f6d44;
    height:500px;
    width: 50%;
    float :left;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}
aside{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    float: right;
    width:50%;
    height:500px;
    justify-content: space-between;
}
article{
    display: flex;
    width: 100vh;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #FDE4C3;
    height:160px;
    margin-left: 2px;
}
.sec-03{
    font-size: 30px;
    padding: 20px;
    margin-bottom: 0px;
    margin-top: 5px;
    text-align: center;
 }
 .section3{
    display: flex;
    justify-content: space-evenly;
 }
 .div2{
    background-color:#2f6d44;
    height:200px;
    width:200px;
    display: inline-block;
 }
 .div2:hover{
    height: 220px;
    width: 220px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
 }
 .footer{
    font-size: 30px;
    padding: 10px;
    margin-top: 10px;
    text-align: center;
    background-color: #e6d4be;
 }
 .foot{
    margin-bottom: 0px;
 }
 a img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin: 50px;
    text-decoration: none !important;
    border: none !important;
 }
 .ab{
    border: none !important;
    text-decoration: none !important;
 }
 a img:hover{
    height: 100px;
    width: 100px;
    border-radius: 50%;
 }

 .div1 img{
    height:150px;
    width:150px;
    border-radius:50%;
    display:flex;
    align-items: center;
    justify-content:center;
 }